    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Manage</h3>
    </div>    
        <div class="modal-body">

        <button class="btn btn-secondary btn-block" ng-click="ManageApartment()">Apartment</button>

        <button class="btn btn-secondary btn-block" ng-click="ManageFlat()">Flat</button>

        <!-- <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-block">Login</button>
        <button data-toggle="collapse" data-target="#Apartment">Apartment</button>
        <button data-toggle="collapse" data-target="#Flat">Flat</button>

        <div id="Apartment" class="collapse">
        Apartment
        <div class="form-group">
            <label for="apartmentName">Apartment Name</label>
            <select name="apartmentName" id="apartmentName" class="form-control" ng-model="user.apartmentId">
                 <option ng-repeat="apartment in AvailableApartments" value="{{apartment.Id}}">{{apartment.Name}}</option>
            </select>
              <button>Dummy</button>
        </div>


        </div>


        <div id="Flat" class="collapse">
        Flat
        <div class="form-group">
            <label for="flatName">Apartment Name</label>
            <select name="flatName" id="flatName" class="form-control" ng-model="user.flatNameId">
                 <option ng-repeat="flat in AvailableFlats" value="{{flat.Id}}">{{flat.Name}}</option>
            </select>
            <button type="submit">Dummy</button>
        </div>
        </div> -->
        
    </form>
    </div>
